* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #ccc9dc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #324a5f;
    padding: 20px;
    border-radius: 20px;
}

.calculator form input {
    border: 0;
    outline: 0;
    height: 57px;
    width: 70px;
    border-radius: 15px;
    box-shadow: 2px 2px 1px #acb96f;
    background-color: #1b2a41;
    color: rgb(185, 226, 240);
    font-size: 30px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin: 10px;
}

form .display {

    display: flex;
    justify-content: flex-end;
    margin: 20px 1px;
}

form .display input {
    background-color: rgb(254, 240, 240);
    color: rgb(109, 0, 0);

    text-align: right;
    flex: 1;
    font-family: monospace;
    font-size: 45px;
    height: 80px;
    box-shadow: none;
    text-shadow: none;
}

.equal form input {

    width: auto;
    height: 55px;
}



form input.opertor {
    background: #0c1821;
    border-radius: 20px;
    color: whitesmoke;
}